window_width  = 533
window_height = 300

# additional cells that get rendered beside the center one
view_range    = 1

# delay between checks for change of the cursor position in DF, measured in milliseconds
sync_delay      = 20

# determines the number of times a sync has to happen before a check for changes in the landscape is made
# essentially, setting this makes the delay between landscape updates be (sync_delay * full_update_offset) milliseconds
full_update_offset  = 50

# this determines the size of memory the script can use before it starts culling caches
# is measured in bytes, initial value is 300 MB
memory_limit = 300787840

# this is a multiplikator for the mouse sensitivity
sensitivity = 0.75

# this variable determines how often the creature update function returns control to OpenGL
# lower this if you experience choppy ui on maps with many creatures
creature_batch = 50

# this determines the maximum rate at which frames get rendered
# actual frame rate will probably be 2/3 of this
fps_limit = 60